.cover {
    position: relative;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 90px;
    padding: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background: white;
    border: 2px solid #888;
    border-radius: 4px;
    color: #6f6f6f;
    font-weight: bold;
    cursor: pointer;
}

.cover:hover .button {
    opacity: 1;
}

.image {
    width: 100%;
    max-height: 295px;
    object-fit: cover;
}