@font-face {
    font-family: "Shadows Into Light Two";
    src: url("./fonts/ShadowsIntoLightTwo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Shadows Into Light Two", cursive;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FBF7EA;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
    height: 100%;
    position: relative;
}

[contenteditable="true"]:focus {
    outline: none;
}

[contenteditable="true"]:empty:focus:before {
    content: attr(data-placeholder);
    color: grey;
}