.node {
    border-radius: 4px;
    padding: 6px 6px 6px 46px;
    cursor: text;
    width: 100%;
}

.page {
    cursor: pointer;
    font-weight: bold;
}

.page:hover {
    background-color: #f0f0f0;
}

.list {
    position: relative;
    padding-left: 20px;
}

.list::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 6px;
    width: 6px;
    height: 6px;
    background-color: #222;
    border-radius: 50%;
    transform: translateY(50%);
}

.heading1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.heading2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.heading3 {
    font-size: 22px;
    font-weight: 700;
}

.focused {
    background-color: rgba(230, 194, 163, 0.3);
}